mixin contacts()
  - const blockClassname = 'contacts';
  mixin contacts__item(contactsItem_options)
    li(
      class=[
        `${blockClassname}__item`,
        `${blockClassname}__item--${contactsItem_options.modifier}`,
      ]
    )
      case contactsItem_options.modifier
        when 'tel'
        when 'email'
          a(
            class=`${blockClassname}__link`
            href=contactsItem_options.link
          )
            = contactsItem_options.content
        when 'address'
          != contactsItem_options.content
  +div(blockClassname)
    +__heading(blockClassname, 2) Контакты
    +__list(blockClassname)
      each value, key in contactsList_data
        +contacts__item({
          modifier: key,
          content: value.text,
          link: value.link,
        })
