mixin head(head_options)
  - const head_defaultOptions = { title: 'Главная' };
  +setDefaults(head_options, head_defaultOptions)
  head
    meta(charset='utf-8')
    title #{head_options.title} | #{siteName}
    each value, key in metaData
      meta(name=key content=value)
    link(
      rel='preload'
      href=`fonts/${fontProperties.familyName}-${fontProperties.weightName}-${fontProperties.styleName}.woff2`
      as='font'
      crossorigin
        )
    link(rel='stylesheet' href='css/main.min.css')
