mixin logo(currentPageId)
  .logo(class=attributes.class)
    a.logo__link(href=(currentPageId === 'index' ? null : 'index.html'))
      img.logo__image(
        src='img/logo.svg'
        width='82'
        height='30'
        alt=siteName
      )
      h1.logo__heading= siteName
    noscript.logo__hint У Вас отключен JavaScript, поэтому сайт открыт в режиме ограниченной функциональности.
