mixin services(services_props)
  ul.services(class=`services--${services_props.modifier}`)
    mixin services__item(servicesItem_props)
      li.services__item(
        class=`services__item--${servicesItem_props.index + 1}`
      )
        a.services__link(
          class=`services__link--${servicesItem_props.modifier}`
          href='#'
        )
          h4.services__headline
            span.services__title= servicesItem_props.title
            = ' '
            span.services__price (#{servicesItem_props.price}руб.)
        block
