//- =================
//- Global Pug mixins
//- =================

//- Set default values of mixin
//- ---------------------------

mixin setDefaults(values, defaultValues)
  each value, key in defaultValues
    if values[key] === undefined
      - values[key] = defaultValues[key];

//- Generates elements ob BEM-blocks
//- ================================

//- Generic <div>
//- ------------

mixin __div(parent, elementName)
  div(class=`${parent}__${elementName}`)
    block

mixin __heading(parent, size, text)
  case size
    when 1
      h1(class=`${parent}__heading`)
        block
    when 2
      h2(class=`${parent}__heading`)
        block
    when 3
      h3(class=`${parent}__heading`)
        block
    when 4
      h4(class=`${parent}__heading`)
        block
    when 5
      h5(class=`${parent}__heading`)
        block
    when 6
      h6(class=`${parent}__heading`)
        block

//- Generic <section>
//- ------------

mixin __section(parent, elementName)
  section(class=`${parent}__${elementName}`)
    block

//- <ul> list
//- ---------

mixin __list(parent)
  ul(class=`${parent}__list`)
    block
