//- =================
//- Global Pug mixins
//- =================

//- Set default values of mixin

mixin setDefaults(values, defaultValues)
  each value, key in defaultValues
    if values[key] === undefined
      - values[key] = defaultValues[key];

//- <div> BEM-block

mixin div(className)
  div(
    class=[
      className,
      attributes.class,
    ]
  )
    block

//- <button> BEM-block

mixin button(className)
  button(
    class=[
      className,
      attributes.class,
    ]
    type='button',
  )
    block

//- <div> BEM-element

mixin __div(parent, elementSubname)
  div(class=[
    `${parent}__${elementSubname}`,
    attributes.class,
  ])
    block

//- <span> BEM-element

mixin __span(parent, elementSubname)
  span(class=[
    `${parent}__${elementSubname}`,
    attributes.class,
  ])
    block

//- <h1>...<h6> BEM-elements

mixin __heading(parent, size)
  - const className = `${parent}__heading`;
  case size
    when 1
      h1(class=className)
        block
    when 2
    default
      h2(class=className)
        block
    when 3
      h3(class=className)
        block
    when 4
      h4(class=className)
        block
    when 5
      h5(class=className)
        block
    when 6
      h6(class=className)
        block

//- <section> BEM-element

mixin __section(parent, elementName)
  section(class=`${parent}__${elementName}`)
    block

//- <ul> BEM-element

mixin __ul(parent, elementName)
  ul(class=`${parent}__${elementName}`)
    block

//- <button> BEM-element

mixin __button(parent)
  button(
    class=[
      `${parent}__button`,
      attributes.class,
    ]
    type='button'
  )
    block
