//- =================
//- Global Pug mixins
//- =================

//- Set default values of mixin

mixin setDefaults(values, defaultValues)
  each value, key in defaultValues
    if values[key] === undefined
      - values[key] = defaultValues[key];

//- Generates BEM-blocks
//- ====================

//- <div> BEM-block

mixin div(className)
  div(class=className)
    block

//- <button> BEM-block

mixin button(className, text)
  button(
    class=[
      className,
      attributes.class,
    ]
    type='button',
  )
    span(class=`${className}__button-legend`)= text


//- Generates BEM-elements
//- ======================

//- <div> BEM-elements

mixin __div(parent, elementName)
  div(class=[
    `${parent}__${elementName}`,
    attributes.class,
  ])
    block

mixin __heading(parent, size)
  case size
    when 1
      h1(class=`${parent}__heading`)
        block
    when 2
    default
      h2(class=`${parent}__heading`)
        block
    when 3
      h3(class=`${parent}__heading`)
        block
    when 4
      h4(class=`${parent}__heading`)
        block

//- <section> BEM-elements

mixin __section(parent, elementName)
  section(class=`${parent}__${elementName}`)
    block

//- <ul> BEM-elements

mixin __list(parent)
  ul(class=`${parent}__list`)
    block

//- <button> BEM-elements

mixin __button(parent)
  button(
    class=[
      `${parent}__button`,
      attributes.class,
    ]
    type='button'
  )
    block
